.1{
color:blue;
}
.2{
font-family:"Courier New"
}
.3{
text-align:
        center;
}
.4{
font-syze:
        50px;
}
.5{
background-color:yellow;
}
.6{
    text-align: center;
}
.7{
border:1px solid blue;
height: 250px
}